//Created by Hualy on 2016/8/13.
doctype html
<!--[if IE 8]><html class='ie8'><![endif]-->
<!--[if IE 9]><html class='ie9'><![endif]-->
<!--[if IE]><!--><html><!--<![endif]-->
head
    include head
    include style
    //include test.css
    script.
        window.onload = function () {
            alert("hello");
        }
body
    block layoutdesc
        p i m a layout
    block content

</html>

